
<ul data-role="listview" data-inset="true" data-theme="c" data-dividertheme="b">
  <li><%= link_to "Episodes", :episodes %></li>
  <li><%= link_to "Files", :philes %></li>
  <li><%= link_to "Shows", :shows %></li>
  <li><%= link_to "Normal Site", variant_path(:variant => "normal"), :rel => "external", :"data-role" => "button" %></li>
</ul>

