%p
  Welcome to the TV list!
  %p
    %p Please choose Files, Shows, or Episodes from the menu above.
    = link_to "JQ Mobile Site", variant_path(:variant => "iphone")
    = link_to "Sencha Site", "/tvs/index.html"
