%ul{"data-dividertheme" => "b", "data-inset" => "true", "data-role" => "listview", "data-theme" => "c"}
  %li= link_to "Episodes", :episodes
  / <li><haml:loud> link_to &amp;quot;Files&amp;quot;, :philes </haml:loud></li>
  %li= link_to "Shows", :shows
