<div data-role="page">

  <div data-role="header" data-theme="d" data-position="inline">
    <h1>Dialog</h1>

  </div>

  <div data-role="content" data-theme="c" data-widget="dialog">
    <h1>Delete page?</h1>
    <p>This is a regular page, styled as a dialog. To create a dialog, just link to a normal page and include a transition and <code>data-rel="dialog"</code> attribute.</p>
    <a href="/" data-role="button" data-theme="b">Sounds good</a>
    <a href="#" data-magic-link="cancel" data-role="button" data-theme="c">Cancel</a>
  </div>
</div>
