<li class="show clickable" href="<%= show_episodes_path show %>"
    data-show-id="<%= show.id %>" >
  <h3><%= link_to_if false, show.name, show_episodes_path(show) %></h3>
  <%- if show.unwatched_episode_count > 0 %>
  <p class="ui-li-aside"> <%= show.unwatched_episode_count  %></p>
  <%- end -%>
</li>
