<tr>
  <td><%= link_to show.name, show %></td>
  <td><%= link_to show.episodes.size, show_episodes_path(show, :all => true) %></td>
  <td><%= time_ago_in_words (show.episodes.latest.aired_at || show.episodes.latest.created_at) %></td>
</tr>
